:root {
    --button-red: rgb(220, 53, 69);
    --button-orange: rgb(255, 193, 7);
    --button-yellow: rgb(255, 255, 102);
    --button-green: rgb(40, 167, 69);
}

.prio {
    margin-top: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.must-prio {
    background-color: var(--button-red);
}

.high-prio {
    background-color: var(--button-orange);
}

.medium-prio {
    background-color: var(--button-yellow);
}

.low-prio {
    background-color: var(--button-green);
}

.none-prio {
    background-color: transparent;
}